<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/c71f996b37.js"></script>

    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
</head>
<body>

<div class="row d-flex justify-content-center container">
    <div class="col-md-8">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                        class="fa fa-plus-circle"></i>&nbsp;Adding task
                </div>
            </div>
            <div class="m-4">
                <form action="{% url 'task_add' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Naslov task-a</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label for="desc">Opis task-a</label>
                        <input type="text" class="form-control" name="desc">
                    </div>
                    <div class="form-group">
                        <label for="desc">State of task</label>
                        <input type="number" class="form-control" min="1" max="2" value="2" name="state">
                    </div>
                    <div class="form-group">
                        <label for="desc">Priority of task</label>
                        <input type="number" class="form-control" min="1" max="10" name="prio">
                    </div>
                    <div class="form-group">
                        <label for="user">User</label>
                        <select class="form-control" name="user">
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.user_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">Kategorija</label>
                        <select class="form-control" name="category">
                            <option value="-1">---------</option>
                            {% for c in categorys %}
                                <option value="{{ c.id }}">{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group p-2">
                        {% for l in labels %}
                            <div class="form-check" style="background-color:#{{ l.color }};">
                                <input class="form-check-input" type="checkbox" name="label{{ l.id }}"
                                       value="{{ l.id }}">
                                <label class="form-check-label">
                                    {{ l.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>


                    <button type="submit" class="btn btn-primary">Add task</button>
                </form>
            </div>
            <div class="d-block text-right card-footer">
            </div>
        </div>
    </div>
</div>


</body>
</html>