<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/c71f996b37.js"></script>

    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
</head>
<body>

<div class="row d-flex justify-content-center container">
    <div class="col-md-8">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                        class="fa fa-tasks"></i>&nbsp;Task Lists
                </div>
            </div>
            <div class="scroll-area-sm">
                <perfect-scrollbar class="ps-show-limits">
                    <div style="position: static;" class="ps ps--active-y">
                        <div class="ps-content">
                            {% if tasks %}
                                <ul class=" list-group list-group-flush">
                                    {% for t in tasks %}
                                        <li class="list-group-item">
                                            <div style="background-color:#{{ t.category.color }};" class="todo-indicator"></div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-2">
                                                    </div>
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">

                                                            {% if t.state == 1 %}
                                                                <del>{{ t.name }}</del>
                                                            {% elif t.state == 2 %}
                                                                {{ t.name }}
                                                            {% endif %}

                                                            {% for x in t.labels.all %}
                                                                <div
                                                                        style="background-color:#{{ x.color }};"
                                                                        class="badge badge-danger ml-2">{{ x.name }}</div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="widget-subheading"><i>By {{ t.user.user_name }}</i>
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <a class="border-0 btn-transition btn btn-outline-success"
                                                           href="{% url 'task_done' t.id %}">
                                                            <i
                                                                    class="fa fa-check"></i></a>
                                                        <a class="border-0 btn-transition btn btn-outline-danger"
                                                           href="{% url 'task_delete' t.id %}">
                                                            <i
                                                                    class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nema zadataka!</p>
                            {% endif %}
                            {#      ctrl + / - komentar, za reformatiranje kod-a -> ctrl + alt + L                  #}
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="d-block text-right card-footer">
                <button class="btn btn-primary">Add New Category</button>
                <button class="btn btn-primary">Add New Label</button>
                <button class="btn btn-primary">Add User</button>

                <a href="{% url 'task_add' %}"
                   class="btn btn-primary">Add Task</a>

            </div>
        </div>
    </div>
</div>

</body>
</html>